.activities_box{
    height: 300px;
    width: 300px;
    top:5px;
    right: 90px;
    background-color:wheat;
    position: relative;
    mask-position: 25px;
    visibility: hidden;
    border: 2px;
    z-index: 1;
    border-radius: 25px 25px 10px 15px;

}
.activities:hover .activities_box{
    visibility: visible;
}
