#profile{
    width:100%;
    height:100%;
    color:transparent;
    position: relative;
    background-color:green;
    margin: 10px;
    display:inline-flex; 
}
#intro{
    border: 10px;
    width: 90%;
    height: 45%;
    background:whitesmoke;
    position: relative;
    top: 10px;
    left: 10px;
    color: #000;  
}
.mid{
    left: 5%;
    position: relative;
    border: 3px;
    height: 100%;
    width: 100%;
}
#points{
    border: 10px;
    width:61%;
    height: 55%;
    background:whitesmoke;
    position: relative;
    top: 10px;
    left: 10px;
    color: #000;  
    margin-left: 10px;
}
#recent{
    border: 10px;
    width: 61%;
    top:5%;
    height: 15%;
    margin-left:20px;

    background: whitesmoke;
    position: relative;
}
#p_buttom{
    border: 10px;
    width: 61%;
    top:10%;
    height: 15%;
    margin-left:20px;

    background: whitesmoke;
    position: relative;
}