#form_1{
visibility:visible;
padding:10px;
background-color:#888888;
text-align:right;
}
u:nth-child(1){
display:flex;
position:absolute;
left:20px;
text-decoration:none;
font-size:30px;
}
input:nth-child(n+1){
padding:5px;
margin-left:3%;
margin-top:0%;
}
input:nth-child(4){
margin-left:2px;
}
#content{
margin-top:30px;
padding:20px;
border:1px solid red;
height:auto;
}
#content img{
display:block;
margin:auto;
max-width:700px;
max-heigth:600px;
box-shadow:5px 5px 40px 10px #888888;
}
#footer p{
text-align:right;
margin-top:35px;
}
#content button{
border-radius:100px;
height:30px;
width:30px;
position:relative;
top:50%;
border:0;
}
button:nth-child(2){
left:90%;
}
#content button:hover{
background-color:rgb(255, 153, 153);
}
#content button:active{
background-color:rgb(255, 51, 51);
}
.pre,.next{
padding:0;
height:0px;
border-radius:20px;
}
.pre{
border-right:15px solid black;
border-top:1px solid transparent;
border-bottom:1px solid transparent;
}
.next{
border-left:15px solid black;
border-top:1px solid transparent;
border-bottom:1px solid transparent;
}
@media screen and (max-width:900px){
#form_1{
padding:1px;
background-color:#888888;
text-align:center;
display:flex;
align-items:center;
justify-content:center;
width:100%;
}
input:nth-child(2),input:nth-child(3){
padding:5px;
margin-left:4px;;
margin-top:8px;
width:200px;
}
input:nth-child(4){
margin-left:150px;
margin-top:5px;
}
.pre,.next{
padding:0px;
margin:3px;
border-radius:20px;
}
#content img{
max-width:80%;
max-heigth:80%;
}
#u_all{
position:relative;
left:40%;
}
input:nth-child(3){
display:block;
}
input:nth-child(1){
padding:8px;
margin-top:7px;
}
#content{
margin-top:30px;
padding:20px;
border:1px solid red;
height:60%;
}
}